Checks: >-
  -*,bugprone-*,performance-*,modernize-use-nullptr,
  cppcoreguidelines-owning-memory
WarningsAsErrors: 'bugprone-*,performance-*'
HeaderFilterRegex: '(^|/)(src|tests)/.*\.(hpp|h|cpp)$'
FormatStyle: file
